__pycache__/
*.py[cod]
.venv/
.env

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/raw/population/
data/raw/population/*
!data/raw/population/README.md
!data/manual_gp_history/
!data/manual_gp_history/README.md

outputs/figures/*
outputs/maps/*
outputs/tables/*
!outputs/figures/.gitkeep
!outputs/maps/.gitkeep
!outputs/tables/.gitkeep
